body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

button {
    background: linear-gradient(90deg, #3b82f6, #8b5cf6);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

img {
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
